{% extends '::base.html.twig' %}


{% block content %}
        <div class="row">
            
            <div id="content" class="col-md-12">
		        <div class="panel panel-success">
		       		<div class="panel-heading">Accueil</div>
		        		<div class="panel-body">
		        			<div class="form-group">
		                		<h2>Bonjour</h2>
		                		<h3>Le but est de créer un QCM, le tester et le noter</h3>
            		    	</div>
            		    </div>	
        		</div>
    		</div>
         </div>

   <hr>

       
  
    
</div>    
{% endblock %}