{% extends '::base.html.twig' %}
{% block content %}
    <div class="panel panel-success">
        <div class="panel-heading">Repondre à un questionnaire</div>
        <div class="panel-body">
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Titre qcm</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for qcm in listqcm %}
                    <tr>
                        <td>{{ qcm.titre }}</td>
                        <td><a class="btn btn-info" href="{{ path('qcmAnswerrenseigner_index',{'id' :qcm.id})}}" >Remplir</a></td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}